#settings-menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #2d2d2d;
  display: block;
  list-style: none;
}
#settings-menu li {
  margin: 0;
  padding: 5px 8px;
  transition: background linear 0.06s, color linear 0.06s;
}
#settings-menu li .fa {
  margin-right: 5px;
}
#settings-menu li:hover {
  background: #474747;
  color: #efefef;
}
#settings-menu li.active {
  background: #999999;
  color: #101010;
}
main {
  position: absolute;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
section {
  border: none;
  padding: 20px;
}
section:last-child {
  border-bottom: 3px solid #232323;
}
section h2 {
  font-size: 1.2em;
  margin: -20px -20px 20px -20px;
  padding: 9px 20px 7px;
  background: #252525;
}
.fullwidth-text {
  display: block;
  height: 28px;
  line-height: 24px;
}
.fullwidth-text input {
  background: #181818;
  box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.4);
  border: 1px solid #404040;
  border-radius: 2px;
  color: #efefef;
  float: right;
  width: 50%;
  margin: 0;
  padding: 3px 8px;
}
.fullwidth-text input::-webkit-input-placeholder {
  color: #404040;
}
.fullwidth-text input::-webkit-inner-spin-button {
  display: none;
}
