@import "includes.inc.less";

@menu-width: 200px;
@margin: 0;
@spacing: 0;

#settings-menu
{
    position: absolute;
    left: @margin;
    top: @margin;
    bottom: @margin;
    width: @menu-width;
    margin: 0;
    padding: 0;
    background: @color-menu;
    display: block;
    list-style: none;
    
    & li
    {
        margin: 0;
        padding: 5px 8px;
        transition: background linear 0.06s, color linear 0.06s;

        & .fa
        {
            margin-right: 5px;
        }

        &:hover
        {
            background: @color-button-hover;
            color: contrast(@color-button-hover, @color-text-dark, @color-text-light);
        }

        &.active
        {
            background: @color-button-active;
            color: contrast(@color-button-active, @color-text-dark, @color-text-light);
        }
    }
}

main
{
    position: absolute;
    left: @menu-width + @margin + @spacing;
    top: @margin;
    right: @margin;
    bottom: @margin;
    padding: 0;
}

section
{
    border: none;
    padding: 20px;

    &:last-child
    {
        border-bottom: 3px solid #232323;
    }

    & h2
    {
        font-size: 1.2em;
        margin: -20px -20px 20px -20px;
        padding: 9px 20px 7px;
        background: #252525;
    }

    &::after // Clearfix
    {
        content: ' ';
        display: table;
        clear: both;
    }
}

.fullwidth-text
{
    display: block;
    height: 28px;
    line-height: 24px;

    & input
    {
        background: #181818;
        box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.4);
        border: 1px solid #404040;
        border-radius: 2px;
        color: #efefef;
        float: right;
        width: 50%;
        margin: 0;
        padding: 3px 8px;

        &::-webkit-input-placeholder
        {
            color: #404040;
        }

        &::-webkit-inner-spin-button
        {
            display: none;
        }
    }
}

.right-button
{
    float: right;
    background: @color-button;
    border: none;
    color: @color-text-light;
    margin-top: 5px;
    padding: 6px 14px;
    cursor: pointer;
    transition: background linear 0.06s, color linear 0.04s;

    &:last-child
    {
        margin-bottom: -10px;
    }

    &:hover
    {
        background: @color-button-hover;
        color: contrast(@color-button-hover, @color-text-dark, @color-text-light);
    }

    &:active
    {
        background: @color-button-active;
        color: contrast(@color-button-active, @color-text-dark, @color-text-light);
    }
}
